@use "../../styles/utils" as utils;

.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: utils.$large-width;
  justify-content: center;
}

.left {
  width: 300px;
}

.right {
  width: 100%;
}
