@use "../../styles/_utils.scss" as utils;

.comment-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.profile-picture-container {
  width: 50px;
  height: 50px;
  display: inline;

  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: fill;
  }
}

.comment-body {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delete-icon {
  color: utils.$color-dark-gray
}

.comment-author {
  margin: 0.25em 0.25em 0.5em;
  font-size: small;
  display: flex;
  flex-direction: column;
}

.comment-content {
  background-color: utils.$color-white;
  padding: 0.5em;
  border-radius: 10px;
}

.comment-interaction {
  margin: 0.25em 0.75em 1.25em auto;
  font-size: small;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.like-count {
  margin-right: 0.5em;
}

.modal-wrapper {
  height: auto;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  border-radius: 5px;
  padding: 1em;
  background-color: white;
  @include utils.small-down {
    width: 200px;
  }
}

.modal-body {
  padding: 2em 0;
  border-bottom: 1px solid utils.$color-dark-gray;
}

.modal-footer {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  padding-top: 1em;
}